workflow (3).json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Instagram Posts",
        "formDescription": "Fill out all the information to generate instagram content with post.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter your email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Content Type ",
              "placeholder": "Marketing",
              "requiredField": true
            },
            {
              "fieldLabel": "Target Audience ",
              "requiredField": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [-208, -48],
      "name": "On form submission"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that helps generate Instagram content.\nThe user has submitted a form with a \"Content Type\" field.\n\nForm Data:\n- Content Type: {{ $json['Content Type '] }}\n\nExplain:\n1. What this content type is.\n2. How it can be used on Instagram.\n3. Tips or examples for creating posts of this content type."
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [0, -48],
      "name": "Instagram Content generator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [-64, 208],
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_API_KEY",
          "name": "Google Gemini API (ADD YOUR API KEY)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a visually appealing image that represents the following content type: {{ $('On form submission').item.json['Content Type '] }}.\nFocus on clear visuals, bright colors, and elements that illustrate the concept.\nStyle: modern, clean, digital artwork.\nOrientation: landscape.\nDo not add text overlays."
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [352, -48],
      "name": "Image Prompt"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/{{ encodeURIComponent($('Image Prompt').item.json.output) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [720, 160],
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fromEmail": "your-email@example.com",
        "toEmail": "={{ $('On form submission').item.json['Enter your email'] }}",
        "subject": "Your Instagram Content and Post Is Ready",
        "html": "<h2>Your Instagram Content</h2>\n<p>{{ $('Instagram Content generator').item.json.output }}</p>\n<hr>\n<p><strong>Content Type:</strong> {{ $('On form submission').item.json['Content Type '] }}</p>\n<p><strong>Target Audience:</strong> {{ $('On form submission').item.json['Target Audience '] }}</p>\n<p>The generated image is included as a link.</p>",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, -48],
      "name": "Send email",
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIALS",
          "name": "SMTP / Gmail (ADD YOUR CREDENTIALS)"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [[{ "node": "Instagram Content generator", "type": "main" }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          { "node": "Instagram Content generator", "type": "ai_languageModel" },
          { "node": "Image Prompt", "type": "ai_languageModel" }
        ]
      ]
    },
    "Instagram Content generator": {
      "main": [[{ "node": "Image Prompt", "type": "main" }]]
    },
    "Image Prompt": {
      "main": [[{ "node": "HTTP Request", "type": "main" }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Send email", "type": "main" }]]
    }
  },
  "active": false
}
